body {
    background-color: #dcc3fc;
}

.mainTitle, .title {
    margin: 25px;
    border: 1px solid rgb(86, 86, 86);
    text-align: center;
    background-color: rgb(131, 210, 210);
}

.recipesList {
    font-family: Arial, Helvetica, sans-serif;
    border: 15px ridge rgb(80, 212, 179);
    text-align: center;
    background-color: #fff5f5;
}


ul {
    list-style: none;
    background: none;
}

recipes > li {
    /* List style type below creates lemon markers, alrighty! */
    /* list-style-type:"\1F34B"; */
    background-color: rgb(226, 239, 237);
}

li > a{
    color: rgb(13, 35, 146);
    font-weight: 600;
    text-decoration: none;
}

.photo {
    max-width: 50%;
    border: 3px solid purple;

}

.recipe-photo {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}